# === Arquivos binários do Office ===
*.xlsm
*.xltm
*.docm
*.accdb

# === Temporários e backup ===
~$*
*.tmp
*.log
*.xltx

# === Sistema ===
Thumbs.db
.DS_Store

# === NÃO ignore arquivos de código VBA ===
# !*.bas
# !*.frm
# !*.frx
# !*.cls